<mat-horizontal-stepper [linear]="isLinear" #stepper>

    <!--DADOS MESTRES DO ESTUDANTE-->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>DADOS DO ESTUDANTE</ng-template>

        <!--NOME DO ESTUDANTE-->
        <mat-form-field style="width: 33%">
            <input matInput placeholder="Nome completo" formControlName="estudante_nome" [(ngModel)]="estudante.nome" required>
        </mat-form-field>
          
        <!--DATA DE NASCIMENTO-->
        <mat-form-field style="width: 33%">
            <!--<input matInput placeholder="Data de nascimento" formControlName="estudante_data_nascimento" required>-->

            <input matInput [matDatepicker]="picker1" placeholder="Data de nascimento" formControlName="estudante_data_nascimento" [(ngModel)]="estudante.data_nascimento"  required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
  
        <!--GENERO-->
        <mat-form-field style="width: 33%">
          <mat-select placeholder="Genero" formControlName="estudante_genero" [(ngModel)]="estudante.genero" required >
              <mat-option *ngFor="let genero of generos" [value]="genero.value">
                  {{genero.viewValue}}
              </mat-option>
          </mat-select>
        </mat-form-field>

        <!--DOCUMNTO IDENTIFICACAO-->
        <mat-form-field style="width: 33%">
          <mat-select placeholder="Documento de identificacao" formControlName="estudante_documento_identificacao" [(ngModel)]="estudante.documento_identificacao" required >
              <mat-option *ngFor="let documento_identificacao of documentos_identificacao" [value]="documento_identificacao.value">
                  {{documento_identificacao.viewValue}}
              </mat-option>
          </mat-select>
        </mat-form-field>

        <!--NR DE IDENTIFICACAO-->
        <mat-form-field style="width: 33%">
            <input matInput placeholder="Nr de documento" formControlName="estudante_nr_documento" [(ngModel)]="estudante.nr_documento" required>
        </mat-form-field>

        <!--LOCAL DE EMISSAO-->
        <mat-form-field style="width: 33%">
            <input matInput placeholder="Local de emissao" formControlName="estudante_local_emissao" [(ngModel)]="estudante.local_emissao" required>
        </mat-form-field>

        <!--DATA DE EMISSAO-->
        <mat-form-field style="width: 33%">
            <input matInput [matDatepicker]="picker3" placeholder="Data de missao" formControlName="estudante_data_emissao" [(ngModel)]="estudante.data_emissao" required>
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>      
        </mat-form-field>

        <!--DATA DE VALIDADE-->
        <mat-form-field style="width: 33%">
            <input matInput [matDatepicker]="picker4" placeholder="Data de validade" formControlName="estudante_data_validade" [(ngModel)]="estudante.data_validade">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
        </mat-form-field>

        <!--NACIONALIDADE-->
        <mat-form-field style="width: 33%">
            <input matInput placeholder="Nacionalidade" formControlName="estudante_nacionalidade" [(ngModel)]="estudante.nacionalidade" required>
        </mat-form-field>

        <!--PROVINCIA-->
        <mat-form-field style="width: 33%">
            <mat-select placeholder="Provincia" formControlName="estudante_provincia" [(ngModel)]="estudante.provincia" required >
                <mat-option *ngFor="let provincia of provincias" [value]="provincia.value">
                    {{provincia.viewValue}}
                </mat-option>
            </mat-select>
          </mat-form-field>

          <!--CIDADE-->
        <mat-form-field style="width: 33%">
            <input matInput placeholder="Cidade" formControlName="estudante_cidade" [(ngModel)]="estudante.cidade" required>
        </mat-form-field>

        <!--ENDERECO-->
        <mat-form-field style="width: 33%">
            <input matInput placeholder="Endereco" formControlName="estudante_endereco" [(ngModel)]="estudante.endereco" required>
        </mat-form-field>

        
    
        <!--FOTO-->
        <!--<mat-form-field style="width: 33%">
            <input placeholder="Foto" type="file" class="ng-hide">
          <div style="width: 33%">
              <input placeholder="Foto" >hidden (change)="onFileSelected()" #fileInput type="file">
            <button mat-icon-button type="file" color="primary" (click)="fileInput.click()" fxFlex>
                <mat-icon aria-label="Example icon-button with a heart icon">attach_file</mat-icon>
            </button>

            button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
            <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">

          </div>
        /mat-form-field>-->       
        <!--<choose-file layout="row">
            <input placeholder="Foto" type="file" class="ng-hide">
            <div>
              <md-button id="uploadButton" class="md-fab md-mini"><md-icon class="material-icons">attach_file</md-icon></md-button>
            </div>
          </choose-file>   -->


      <div>
        <button mat-button matStepperNext>SEGUINTE</button>
        <!--<button mat-raised-button color="primary" matStepperNext>CONTINUAR CADASTRO</button>-->
        
        <!--<button mat-icon-button color="primary" matStepperNext>CADASTRAR
            <mat-icon aria-label="Example icon-button with a heart icon">check_circle_outline</mat-icon>
        </button>-->
      </div>


          



      </form>
    </mat-step>



    <!--DADOS MESTRES DO ENCARREGADO-->
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>DADOS DO ENCARREGADO</ng-template>
      
        <!--NOME DO ESTUDANTE-->
        <mat-form-field style="width: 33%">
            <input matInput placeholder="Nome completo" formControlName="encarregado_nome" [(ngModel)]="encarregado.nome" required>
        </mat-form-field>
      
        
  
        <!--GENERO-->
        <mat-form-field style="width: 33%">
          <mat-select placeholder="Genero" formControlName="encarregado_genero" [(ngModel)]="encarregado.genero" required >
              <mat-option *ngFor="let genero of generos" [value]="genero.value">
                  {{genero.viewValue}}
              </mat-option>
          </mat-select>
        </mat-form-field>

       

        <!--NACIONALIDADE-->
        <mat-form-field style="width: 33%">
            <input matInput placeholder="Nacionalidade" formControlName="encarregado_nacionalidade" [(ngModel)]="encarregado.nacionalidade" required>
        </mat-form-field>
         <!--PROFISSAO-->
         <mat-form-field style="width: 33%">
          <input matInput placeholder="Profissao" formControlName="encarregado_profissao" [(ngModel)]="encarregado.Profissao" required>
      </mat-form-field>
  <!--LOCAL DE TRABALHO-->
  <mat-form-field style="width: 33%">
    <input matInput placeholder="Local de Trabalho" formControlName="encarregado_local_trabalho" [(ngModel)]="encarregado.local_trabalho" required>
</mat-form-field>
        <!--TELEFONE1-->
        <mat-form-field style="width: 33%">
            <input matInput placeholder="Telefone" formControlName="encarregado_telefone1" type="tel" [(ngModel)]="encarregado.telefone1" minlength="12" maxlength="12" required>
            <!--<mat-icon matSuffix>phone</mat-icon>-->
            <mat-hint>Inclua o prefixo do seu Pais (ex: 258)</mat-hint>
        </mat-form-field>

        <!--TELEFONE2-->
        <mat-form-field style="width: 33%">
            <input matInput placeholder="Telefone alternativo" formControlName="encarregado_telefone2" [(ngModel)]="encarregado.telefone2 " minlength="12" maxlength="12" required>
            <mat-hint>Inclua o prefixo do seu Pais (ex: 258)</mat-hint>
        </mat-form-field>

        <!--EMAIL-->
        <mat-form-field style="width: 33%">
            <input matInput placeholder="Email" formControlName="encarregado_email" [(ngModel)]="encarregado.email">
        </mat-form-field>

      <div>
          
        <button mat-button matStepperPrevious>VOLTAR</button>
        <button mat-button matStepperNext>SEGUINTE</button>

        <!--<button mat-raised-button color="primary" matStepperPrevious>VOLTAR</button>
        <button mat-raised-button color="primary" matStepperNext>CADASTRAR</button>-->

        <!--<button mat-icon-button color="primary" matStepperPrevious>VOLTAR
            <mat-icon aria-label="Example icon-button with a heart icon">undo</mat-icon>
        </button>
        <button mat-icon-button color="primary" matStepperNext>CONTINUAR REGISTO
            <mat-icon aria-label="Example icon-button with a heart icon">check_circle_outline</mat-icon>
        </button>-->
      </div>
      </form>
    </mat-step>

    <mat-step>
      
      <ng-template matStepLabel>CONFIRMAÇÁO</ng-template>
      <div id="content" #content>
      <mat-card-content>
        <h4 class="mt-0 mb-1">Dados Pessoais</h4>
        <div fxLayout="row" layout-align="center">            

          <div class="pr-1" fxFlex>
            <div fxLayout="column" class="mb-1">
              <span class="text-md">ESTUDANTE</span>
              <strong>{{estudante.nome}}</strong>
            </div>

            <div fxLayout="column" class="mb-1">
              <span class="text-md">Data de Nascimento</span>
              <strong>{{estudante.data_nascimento | date:'dd/MM/yyyy'}}</strong>
            </div>
            
            <div fxLayout="column" class="mb-1">
              <span class="text-md">Genero</span>
              <strong>{{estudante.genero}}</strong>
            </div>

            <div fxLayout="column" class="mb-1">
              <span class="text-md">Documento: {{estudante.documento_identificacao}}</span>
              <strong>{{estudante.nr_documento}} - Emitido em {{estudante.local_emissao}} - Valido ate {{estudante.data_validade | date:'dd/MM/yyyy'}}</strong>
            </div>

            <div fxLayout="column" class="mb-1">
              <span class="text-md">Nacionalidade</span>
              <strong>{{estudante.nacionalidade}}</strong>
            </div>

            <div fxLayout="column">
              <span class="text-md">Provincia</span>
              <strong>{{estudante.provincia}}</strong>
            </div>
            <div fxLayout="column">
              <span class="text-md">Endereco</span>
              <strong>{{estudante.endereco}}</strong>
            </div>

          </div>
          <div class="pl-1" fxFlex>

            <div fxLayout="column" class="mb-1">
              <span class="text-md">ENCARREGADO</span>
              <strong>{{encarregado.nome}}</strong>
            </div>

          

            <div fxLayout="column" class="mb-1">
                <span class="text-md">Nacionalidade</span>
                <strong>{{encarregado.nacionalidade}}</strong>
              </div>
              
            <div fxLayout="column" class="mb-1">
              <span class="text-md">Profisao</span>
              <strong>{{encarregado.Profissao}}</strong>
            </div>
            <div fxLayout="column" class="mb-1">
              <span class="text-md">Local de Trabalho</span>
              <strong>{{encarregado.local_trabalho}}</strong>
            </div>

            <div fxLayout="column" class="mb-1">
              <span class="text-md">Telefone</span>
              <strong>{{encarregado.telefone1}}</strong>
              <strong ng-if="encarregado.telefone2">{{encarregado.telefone2}}</strong>
            </div>

            <div fxLayout="column">
              <span class="text-md">Email</span>
              <strong>{{encarregado.email}}</strong>
            </div>
          
          </div>
        </div>
      </mat-card-content>
      </div>
      <div>
      <button mat-button matStepperPrevious>VOLTAR</button>
      <button mat-button (click)="registarEstudante(estudante)" [routerLink]="['/estudante/listagem_estudante']">CADASTRAR</button>
      <!--[routerLink]="['/estudante/listagem_estudante']
       
      <!--<button mat-button (click)="stepper.reset()">Reset</button>-->

      </div>
    </mat-step>
  </mat-horizontal-stepper>
  
