
<!--<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nome" value="data.nome">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </form>-->
 
  <mat-horizontal-stepper [linear]="true" #stepper>
  
  <mat-step [stepControl]="firstFormGroup">
    
      <ng-template matStepLabel>DADOS DO ESTUDANTE </ng-template>
      <mat-form-field style="width: 33%">
        <input matInput placeholder="Nome completo"  [(ngModel)]="data.estudante.nome" required>
    </mat-form-field>
      
    <!--DATA DE NASCIMENTO-->
    <mat-form-field style="width: 33%">
        <!--<input matInput placeholder="Data de nascimento" formControlName="estudante_data_nascimento" required>-->

        <input matInput [matDatepicker]="picker1" placeholder="Data de nascimento"  [(ngModel)]="data.data_nascimento"  required>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <!--GENERO-->
    <mat-form-field style="width: 33%">
      <mat-select placeholder="Genero" [(ngModel)]="data.estudante.genero" required >
          <mat-option *ngFor="let genero of data.generos" [value]="genero.value">
              {{genero.viewValue}}
          </mat-option>
      </mat-select>
    </mat-form-field>

    <!--DOCUMNTO IDENTIFICACAO-->
    <mat-form-field style="width: 33%">
      <mat-select placeholder="Documento de identificacao" [(ngModel)]="data.estudante.documento_identificacao" required >
          <mat-option *ngFor="let documento_identificacao of data.documentos_identificacao" [value]="documento_identificacao.value">
              {{documento_identificacao.viewValue}}
          </mat-option>
      </mat-select>
    </mat-form-field>

    <!--NR DE IDENTIFICACAO-->
    <mat-form-field style="width: 33%">
        <input matInput placeholder="Nr de documento"[(ngModel)]="data.estudante.nr_documento" required>
    </mat-form-field>

    <!--LOCAL DE EMISSAO-->
    <mat-form-field style="width: 33%">
        <input matInput placeholder="Local de emissao" [(ngModel)]="data.estudante.local_emissao" required>
    </mat-form-field>

    <!--DATA DE EMISSAO-->
    <mat-form-field style="width: 33%">
        <input matInput [matDatepicker]="picker3" placeholder="Data de missao" [(ngModel)]="data.data_emissao" required>
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>      
    </mat-form-field>

    <!--DATA DE VALIDADE-->
    <mat-form-field style="width: 33%">
        <input matInput [matDatepicker]="picker4" placeholder="Data de validade" [(ngModel)]="data.data_validade">
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
    </mat-form-field>

    <!--NACIONALIDADE-->
    <mat-form-field style="width: 33%">
        <input matInput placeholder="Nacionalidade"  [(ngModel)]="data.estudante.nacionalidade" required>
    </mat-form-field>

    <!--PROVINCIA-->
    <mat-form-field style="width: 33%">
        <mat-select placeholder="Provincia"  [(ngModel)]="data.estudante.provincia" required >
            <mat-option *ngFor="let provincia of data.provincias" [value]="provincia.value">
                {{provincia.viewValue}}
            </mat-option>
        </mat-select>
      </mat-form-field>

      <!--CIDADE-->
    <mat-form-field style="width: 33%">
        <input matInput placeholder="Cidade"  [(ngModel)]="data.estudante.cidade" required>
    </mat-form-field>

    <!--ENDERECO-->
    <mat-form-field style="width: 33%">
        <input matInput placeholder="Endereco"  [(ngModel)]="data.estudante.endereco" required>
    </mat-form-field>
     <!--ENCARREGADO-->
     
    <mat-form-field style="width: 33%">
        <input matInput placeholder="Classe"  [(ngModel)]="data.estudante.turma.nivel" required>
    </mat-form-field>
    
    <mat-form-field style="width: 33%">
        <input matInput placeholder="Turma"  [(ngModel)]="data.estudante.turma.nome" required>
    </mat-form-field>
    <mat-form-field style="width: 33%">
        <input matInput placeholder="Regime"  [(ngModel)]="data.estudante.turma.regime" required>
    </mat-form-field>
    <mat-form-field style="width: 33%">
        <input matInput placeholder="Encarregado"  [(ngModel)]="data.estudante.encarregado.nome" required>
    </mat-form-field>
    <mat-form-field style="width: 33%">
        <input matInput placeholder="Telefone do Encarregado"  [(ngModel)]="data.estudante.encarregado.telefone1" required>
    </mat-form-field>
    <mat-form-field style="width: 33%">
        <input matInput placeholder="Email do Encarregado"  [(ngModel)]="data.estudante.encarregado.email" required>
    </mat-form-field>
   
    <div>
       
        <button mat-button (click)="GuardarDados(data.estudante)" mat-button (click)="closeModal()">GUARDAR<i class="large material-icons">save</i></button>
       
        <button mat-button (click)="closeModal()">FECHAR<i class="large material-icons">close</i></button>

      </div>
</mat-step>
     
   
  
    </mat-horizontal-stepper>
     
       
  