
<h3 align="center"> <b>RELATÓRIO DE MENSALIDADES</b></h3>
<mat-form-field style="width: 20%">
  <mat-select placeholder="Ano"  [(ngModel)]="mensalidade" required >
      <mat-option *ngFor="let ano of anos" [value]="ano.value">
          {{ano.viewValue}}
      </mat-option>
  </mat-select>
</mat-form-field>

 <table  width="100%" border="1px">
    
  <tr>
      <th> </th>
  <th >JANEIRO</th>
  <th > FEVEREIRO</th>
  <th >MARCO </th>
  <th > ABRIL</th>
  <th >MAIO</th>
  <th > JUNHO</th>
  <th >JULHO </th>
  <th> AGOSTO</th>
  <th>SETEMBRO</th>
  <th> OUTUBRO</th>
  <th>NOVEMBRO</th>
  <th> DEZEMBRO</th>
        </tr>  
        <tr>

<th> PAGO</th>
<td  mat-icon-button (click)="ListaPagamentos('Janeiro','Pago')">{{relatorio_pagamento.janeiro}}</td>
  <td mat-icon-button (click)="ListaPagamentos('Fevereiro','Pago')"> {{relatorio_pagamento.fevereiro}}</td>
  <td mat-icon-button (click)="ListaPagamentos('Marco','Pago')">{{relatorio_pagamento.marco}}</td>
  <td mat-icon-button (click)="ListaPagamentos('Abril','Pago')">{{relatorio_pagamento.abril}} </td>
  <td mat-icon-button (click)="ListaPagamentos('Maio','Pago')">{{relatorio_pagamento.maio}}</td>
  <td   mat-icon-button (click)="ListaPagamentos('Junho','Pago')">{{relatorio_pagamento.junho}}</td>
  <td  mat-icon-button (click)="ListaPagamentos('Julho','Pago')">{{relatorio_pagamento.julho}}</td>
  <td mat-icon-button (click)="ListaPagamentos('Agosto','Pago')">{{relatorio_pagamento.agosto}}</td>
  <td mat-icon-button (click)="ListaPagamentos('Setembro','Pago')">{{relatorio_pagamento.setembro}}</td>
  <td mat-icon-button (click)="ListaPagamentos('Outubro','Pago')"> {{relatorio_pagamento.outubro}}</td>
  <td mat-icon-button (click)="ListaPagamentos('Novembro','Pago')">{{relatorio_pagamento.novembro}}</td>
  <td mat-icon-button (click)="ListaPagamentos('Dezembro','Pago')"> {{relatorio_pagamento.dezembro}}</td>
        </tr>
        <tr>

 <th> NAO PAGO</th>
 <td mat-icon-button (click)="ListaPagamentos('Janeiro','NaoPago')">{{relatorio_pagamento.naojaneiro}}</td>
  <td mat-icon-button (click)="ListaPagamentos('Fevereiro','NaoPago')"> {{relatorio_pagamento.naofevereiro}}</td>
  <td mat-icon-button (click)="ListaPagamentos('Marco','NaoPago')">{{relatorio_pagamento.naomarco}}</td>
  <td mat-icon-button (click)="ListaPagamentos('Abril','NaoPago')">{{relatorio_pagamento.naoabril}} </td>
  <td  mat-icon-button (click)="ListaPagamentos('Maio','NaoPago')">{{relatorio_pagamento.naomaio}}</td>
  <td  mat-icon-button (click)="ListaPagamentos('Junho','NaoPago')">{{relatorio_pagamento.naojunho}}</td>
  <td  mat-icon-button (click)="ListaPagamentos('Julho','NaoPago')">{{relatorio_pagamento.naojulho}}</td>
  <td  mat-icon-button (click)="ListaPagamentos('Agosto','NaoPago')">{{relatorio_pagamento.naoagosto}}</td>
  <td  mat-icon-button (click)="ListaPagamentos('Setembro','NaoPago')">{{relatorio_pagamento.naosetembro}}</td>
  <td  mat-icon-button (click)="ListaPagamentos('Outubro','NaoPago')"> {{relatorio_pagamento.naooutubro}}</td>
  <td  mat-icon-button (click)="ListaPagamentos('Novembro','NaoPago')">{{relatorio_pagamento.naonovembro}}</td>
  <td  mat-icon-button (click)="ListaPagamentos('Dezembro','NaoPago')"> {{relatorio_pagamento.naodezembro}}</td>
  </tr>
</table>













<!--<div class="example-header">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSourse" matSort>
    
 
    <ng-container matColumnDef="estudante">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Estudante </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.estudante.nome}}</mat-cell>
    </ng-container> 
    

    <ng-container matColumnDef="turma">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Turma </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.turma.nome}}</mat-cell>
    </ng-container>

 
    <ng-container matColumnDef="mes">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Mes </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.mes}}</mat-cell>
    </ng-container>

   
    <ng-container matColumnDef="ano">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ano </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.ano}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="mensalidade">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Mensalidade </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.turma.mensalidade}}</mat-cell>
    </ng-container>
    
   
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    
  </div>-->